@model IEnumerable<BookCatalog.BusinessLogic.ViewModels.AuthorViewModel>
@{
    ViewBag.Title = "Authors";
}
<br />
<p>
    <input type="button" value="Add" id="CreateAuthor" class="btn btn-default" />
    <div id="AuthorForm" style="display:none">
    </div>
</p>
<table id="authorsTable" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BooksCount)
                </td>
                <td>
                    @foreach (var book in item.Books)
                    {
                        @Html.DisplayFor(modelItem => book.Name) @(", ") @Html.DisplayFor(modelItem => book.Year) <br />
                    }                    
                </td>
                <td>
                    <input type="button" value="Edit" id="Edit" onclick="editAuthor(@item.Id)" class="makealink" /> |
                    @Html.ActionLink("Details", "Details", "Author", new { area = "MVC" }, new { id = item.Id, FirstName = item.FirstName.Replace(" ", String.Empty).Replace(".", String.Empty), LastName = item.SecondName.Replace(" ", String.Empty).Replace(".", String.Empty) }) |
                    <input type="button" value="Delete" id="Delete" onclick="deleteAuthor(@item.Id)" class="makealink" />
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var isedited = false;
    var authorsTable;
    $(document).ready(function () {
        authorsTable = $('#authorsTable').dataTable({
            "aoColumns": [
                { "sClass": "Id", "mDataProp": "Id" },
                { "sClass": "FirstName", "mDataProp": "FirstName" },
                { "sClass": "SecondName", "mDataProp": "SecondName" },
                { "sClass": "BooksCount", "mDataProp": "BooksCount" },
                { "sClass": "Books", "mDataProp": "Books" },
                { "sClass": "Controls", "mDataProp": "Controls" }
            ]
        });
    });
    $("#CreateAuthor").click(function () {
        if (isedited !=true)
        {
            $.ajax({
                async: true,
                url: '/MVC/Author/AddAuthorForm'
            }).success(function (content) {
                $('#AuthorForm').attr("style", "");
                $('#AuthorForm').append(content);
            });
        }
    });
    function editAuthor(bookId) {
        if (isedited !=true)
        {
            $.ajax({
                async: true,
                url: '/MVC/Author/AddAuthorForm/' + bookId
            }).success(function (content) {
                $('#AuthorForm').attr("style", "");
                $('#AuthorForm').append(content);
            });
        }
    }
    function deleteAuthor(authorId) {
        if (confirm("Are you sure, you want to delete this author from catalog?") == true) {
            $.ajax({
                async: true,
                type: 'POST',
                url: '/MVC/Author/Delete/' + authorId
            }).success(function () {
                $( "tr:contains('" + authorId + "')").each(function() {
                    authorsTable.fnDeleteRow(this);
                });
            });
        }
    }
</script>
