@model BookCatalog.Components.ViewModels.AuthorViewModel

@using (Ajax.BeginForm("Manage", "Author", new { Model, area = "MVC" }, new AjaxOptions() { OnSuccess = "onSuccess" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.BooksCount)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="Manage" type="submit" value="@((Model.Id == 0) ? "Create" : "Edit")" class="btn btn-default" />
                <input type="button" value="Cancel" id="CancelCreateAuthor" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    var form = $("#AuthorForm");
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(form);
    function onSuccess(model) {
        if ( model["error"] != null && model["error"] != "" ) {
            alert(model["error"]);
        }
        else
        {
            $('#AuthorForm').empty();
            $('#AuthorForm').attr("style", "display:none");
            isedited = false;
            if (@Model.Id != 0)
            {
                $( "tr:contains('" + @Model.Id + "')").each(function() {
                    authorsTable.fnDeleteRow(this);
                });
            }
            model["Controls"] = buildControl(model["Id"], model["FirstName"], model["SecondName"]);
            authorsTable.fnAddData(model);
        }
    }
    $('#CancelCreateAuthor').click(function () {
        $('#AuthorForm').attr("style", "display:none");
        $('#AuthorForm').empty();
        isedited = false;
    })
    function buildControl(authorId, authorFirstName, authorSecondName) {
        authorFirstName = authorFirstName.replace(/[\. ,:-]+/g, "-");
        authorSecondName = authorSecondName.replace(/[\. ,:-]+/g, "-");
        return "<input type='button' value='Edit' id='Edit' onclick='editAuthor(" + authorId + ")' class='makealink'> | <a href='Author/Details/" + authorId + "/" + authorFirstName + "/" + authorSecondName + "'>Details</a>  | <input type='button' value='Delete' id='Delete' onclick='deleteAuthor(" + authorId + ")' class='makealink'>";
    }
</script>