@model BookCatalog.BusinessLogic.ViewModels.BookViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagesCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @foreach (var author in Model.Authors)
            {
                @Html.DisplayFor(modelItem => author.FirstName) @(" ") @Html.DisplayFor(modelItem => author.SecondName) <br />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
